<div class="edu-brand-area edu-section-gap bg-color-white edu-line-separator">

            <div class="container-sst">
            <div class="row ">
                               
                            </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row sst-home-five-brands">
                           
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                <a  class="client-logo">
                                    <img class="logo-mains" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/images/logo/giz_logo.jpg ') }}" alt="Brand Images">
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                <a  class="client-logo">
                                    <img class="logo-mains" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/images/logo/job.png ') }}" alt="Brand Images">
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                <a  class="client-logo mt-2">
                                    <img class="logo-mains" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/images/logo/giz.png ') }}" alt="Brand Images">
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                <a  class="client-logo">
                                    <img class="logo-mains" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/images/logo/Digital-Transformation-Center-in-Kigali-Rwanda-Africa-Logo.png ') }}" alt="Brand Images">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
